<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container py-2">
    <div class="row">
        <div class="col">
            <h2 class="font-weight-light">Digital Personal Organizer</h2>
        </div>
    </div>
</div>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="${'/admin/user'}">Admin</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="${'/admin/users">Create User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">User List</a>
    </li>
</ul>
<br>
<div class="container py-2">
    <div class="row">
        <div class="col">
            <h4 class="font-weight-light">Create a New User</h4>
        </div>
    </div>
</div>
<br>

<div class="card-body">
    <div class="card" style="width: 50rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <form>
                <!--                        first name field-->
                <div class="row mb-3">
                    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Enter first name" id="firstName" required th:field="${registerFormDTO.firstName}" />
                        <span th:errors="${registerFormDTO.firstName}" class="error"></span>
                    </div>
                </div> <!--                        last name field-->
                <div class="row mb-3">
                    <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Enter last name" id="lastName" required th:field="${registerFormDTO.lastName}" />
                        <span th:errors="${registerFormDTO.lastName}" class="error"></span>
                    </div>
                </div> <!--                        email field-->
                <div class="row mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Enter email" id="email" required th:field="${registerFormDTO.email}" />
                        <span th:errors="${registerFormDTO.email}" class="error"></span>
                    </div>
                </div> <!--                        phone number field-->
                <div class="row mb-3">
                    <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Enter phone number" id="phoneNumber" required th:field="${registerFormDTO.phoneNumber}" />
                        <span th:errors="${registerFormDTO.phoneNumber}" class="error"></span>
                    </div>
                </div>
                <!--                        relationship field-->/>
                 <fieldset class="row mb-3">
                     <label th:for="role">Relationship</label>

                                            legend class="col-form-label col-sm-2 pt-0">Relationships</legend>
                 <div class="col-sm-10">
                      <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="relationship1" id="relationship1" value="family" checked>
                      <label class="form-check-label" for="family">
                          Family
                      </label><br>
                      <input class="form-check-input" type="checkbox" name="relationship2" id="relationship2" value="friend" checked>
                      <label class="form-check-label" for="friend">
                          Friend
                      </label><br>
                      <input class="form-check-input" type="checkbox" name="relationship3" id="relationship3" value="medicalProvider" checked>
                      <label class="form-check-label" for="medicalProvider">
                          Medical Provider
                      </label><br>
                      <input class="form-check-input" type="checkbox" name="relationship4" id="relationship4" value="legalProfessional" checked>
                      <label class="form-check-label" for="legalProfessional">
                          Legal Professional
                      </label><br>
                      <input class="form-check-input" type="checkbox" name="relationship5" id="relationship5" value="financialProfessional" checked>
                      <label class="form-check-label" for="financialProfessional">
                          Financial Professional
                      </label><br></div>
              </div>
              </fieldset>
                <!--                        username field-->
                <div class="row mb-3">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Enter username" id="username" required th:field="${registerFormDTO.username}" />
                        <span th:errors="${registerFormDTO.username}" class="error"></span>
                    </div>
                </div>

                <!--                        password field-->
                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Enter password" id="password" required th:field="${registerFormDTO.password}" />
                        <span th:errors="${user.password}" class="error"></span>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"> Verify Password</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />

                    </div>
                </div>
                </div>


/>
                                      permissions-->
                <!-- <fieldset class="row mb-3">
                     <label th:for="role">Role</label>
                                                <legend class="col-form-label col-sm-2 pt-0">Permission Levels</legend>-->/>
                <!--<div class="col-sm-10">
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="gridRadios" id="admin" value="admin" checked>
                       <label class="form-check-label" for="admin">
                           Admin
                       </label>
                   </div>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="gridRadios" id="editor" value="editor">
                       <label class="form-check-label" for="Editor">
                           Editor
                       </label>
                   </div>
                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="gridRadios" id="viewer" value="viewer">
                       <label class="form-check-label" for="viewer">
                           Viewer
                       </label>
                   </div>
               </div>
/>
                                          <a th:href="@{'/role/add'}">Add Role</a>-->
                </fieldset>

                <a th:href="@{'/user/add'}"><button type="submit" class="btn btn-primary">Create User</button></a>

            </form>





        </div>
    </div>
</div>

</body>
</html>