<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container py-2">
    <div class="row">
        <div class="col">
            <h2 class="font-weight-light">Digital Personal Organizer</h2>
        </div>
    </div>
</div>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="@{'admin'}">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/contacts/index'}">Contact List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/contacts/add'">Create Contact</a>
    </li>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/{patientId}/files/index'}">File List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/{patientId}/files/upload'}">Upload File</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/medications/index'}">Medication List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/medications/add'}">Create Medication</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/index'}">Patient List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/patients/add'}">Create Patient</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/providers/index'}">Provider List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/providers/add'}">Create Provider</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/users/index'}">User List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@{'admin/users/add'}">Create User</a>
    </li>
</ul>

<br>
<!--    title-->
<div class="container py-2">
    <div class="row">
        <div class="col">
            <h4 class="font-weight-light">Admin Landing Page</h4>
        </div>
    </div>
</div>

<br>



<div class="row">
                                     <!--    create new user-->
    <form>
    <div class="col-sm-5">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title">Create a New User</h5>
                </div>
                <!--                        userFirstName field-->
                <br>
                <div class="container py-2">
                    <div class="row">

                        <div class="col">
                            <input class="form-control" placeholder="Enter first name" id="userFirstName" required th:field="${registerFormDTO.userFirstName}" />
                            <span th:errors="${registerFormDTO.userFirstName}" class="error"></span>
                            <h4 class="font-weight-light">First Name: </h4>
                        </div>
                    </div>
                </div>
                <br>
                <!--                        userLastName field-->
                <br>
                <div class="container py-2">
                    <div class="row">

                        <div class="col">
                            <input class="form-control" placeholder="Enter last name" id="userLastName" required th:field="${registerFormDTO.userLastName}" />
                            <span th:errors="${registerFormDTO.userLastName}" class="error"></span>
                            <h4 class="font-weight-light">Last Name: </h4>
                        </div>
                    </div>
                </div>
                <br>
                <!--                        userPhoneNumber field-->
                <br>
                <div class="container py-2">
                    <div class="row">

                        <div class="col">
                            <input class="form-control" placeholder="Enter phone number" id="userPhoneNumber" required th:field="${registerFormDTO.userPhoneNumber}" />
                            <span th:errors="${registerFormDTO.userPhoneNumber}" class="error"></span>
                            <h4 class="font-weight-light">Phone Number: </h4>
                        </div>
                    </div>
                </div>
                <br>
                <!--                        email field-->
                <br>
                <div class="container py-2">
                    <div class="row">

                        <div class="col">
                            <input class="form-control" placeholder="Enter email" id="userEmail" required th:field="${registerFormDTO.userEmail}" />
                            <span th:errors="${registerFormDTO.userEmail}" class="error"></span>
                            <h4 class="font-weight-light">Email: </h4>
                        </div>
                    </div>
                </div>
                <br>
                                   <!--                        username field-->
                    <br>
                    <div class="container py-2">
                        <div class="row">

                            <div class="col">
                                <input class="form-control" placeholder="Enter username" id="username" required th:field="${registerFormDTO.username}" />
                                <span th:errors="${registerFormDTO.username}" class="error"></span>
                                <h4 class="font-weight-light">Username</h4>
                            </div>
                        </div>
                    </div>
                    <br>

                                    <!--                        password field-->
                                    <div class="row mb-3">
                                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" placeholder="Enter password" id="password" required th:field="${registerFormDTO.password}" />
                                            <span th:errors="${user.password}" class="error"></span>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label"> Verify Password</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />

                                            </div>
                                        </div>
                                    </div>
                            </div>
                                    </fieldset>

                                    <a th:href="@{'/users/add'}"><button type="submit" class="btn btn-primary">Create User</button></a>
                            </div>
                    </div>
    </form>
        </div>
    </div>
    </form>
</div>

<div class="row">

                                    <!--create new contact-->
    <form method="post" style="max-width:600px;">
    <div class="col-sm-5">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">

                <div class="card-body">
                    <h5 class="card-title">Create a New Contact</h5>
                </div>


                    <!--                        first name field-->
                    <div class="row mb-3">
                        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="First Name" id="firstName" th:field="${contact.firstName}" />
                            <span th:errors="${contact.firstName}" class="error"></span>
                        </div>
                    </div>
                    <!--                        last name field-->
                    <div class="row mb-3">
                        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Last Name" id="lastName" th:field="${contact.lastName}" />
                            <span th:errors="${contact.lastName}" class="error"></span>
                        </div>
                    </div>
                    <!--                        phone field-->
                    <div class="row mb-3">
                        <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Phone Number" id="phoneNumber" th:field="${contact.phoneNumber}" />
                            <span th:errors="${contact.phoneNumber}" class="error"></span>
                        </div>
                    </div>
                    <!--                        email field-->
                    <div class="row mb-3">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Email" id="email" th:field="${contact.email}" />
                            <span th:errors="${contact.email}" class="error"></span>
                        </div>
                    </div>
                    <!--                        relationship field-->
                    <div class="row mb-3">
                        <label th:for="relationship" class="col-sm-2 col-form-label">Relationship to Patient</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <th:block th:each="relationship : ${relationships}">

                                <input class="form-control" type="checkbox" name="relationships" th:field="${contact.relationship}" th:value=${relationship.id}"/>
                                   <label th:text="${relationship.name}"></label>

                                </th:block>
                                <a th:href="@{'/relationships/add'}">Add Relationships</a>
                            </div>

                    <!--                        emergency contact field-->
                    <div class="row mb-3">
                        <label for="emergency" class="col-sm-2 col-form-label">Emergency Contact</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Emergency" id="emergency" th:field="${contact.emergency}" />
                            <input type="radio" id="yes" name="emergency_contact" value="YES">
                            <label for="yes">YES</label><br>
                            <label th:text="${contact.emergency}"></label>
                            <input type="radio" id="no" name="emergency_contact" value="NO">
                            <label for="no">NO</label><br>
                            <label th:text="${contact.emergency}"></label>

                            </th:block>
                                                    </div>
                        <div class="col-auto">
                            <a th:href="@{'/contacts/add'}"><button type="submit" class="btn btn-primary mb-3">Add Contact</button></a>
                        </div>
                    </div>

                        </div>
                    </div>
    </div>
        </div>
    </div>
    </form>

</div>


    <div class="row">
                    <!--                    upload file-->

        <form method="post" action="uploadServlet" enctype="multipart/form-data">

            <div class="col-sm-5">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">

                        <div class="card-body">
                            <h5 class="card-title">Upload File</h5>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>

                        <!--                        fileName field-->
                        <div class="row mb-3">
                            <label for="fileName" class="col-sm-2 col-form-label">File Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" size="50" placeholder="Enter filename" id="fileName" required th:field="${registerFormDTO.username}" />
                            </div>
                        </div>

                            <!--                        fileType field-->
                            <fieldset class="row mb-3"></fieldset>
                            <label th:for="fileType">Choose a File Type</label>
                            <legend class="col-form-label col-sm-2 pt-0">File Type</legend>-->/>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-control" >
                                    <select id="fileType" name="fileType">
                                        <option value="csv">.CSV</option>
                                        <option value="img">.IMG</option>
                                        <option value="jpg">.JPG</option>
                                        <option value="pdf">.PDF</option>
                                        <option value="png">.PNG</option>
                                        <option value="wordDoc">Word Doc</option>
                                        <option value="xls">Excel Spreadsheet</option>
                                    </select>
                                </div>
                            </div>
                                <!--                        data field-->
                                <div class="row mb-3">
                                    <label for="fileName" class="col-sm-2 col-form-label">Choose File</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="file" id="data" required size="50"/>
                                    </div>
                                </div>

                    <!--                    submit button-->
                    <div class="col-auto">
                        <a th:href="@{'/admin/{patientId}/files/upload'}"><button type="submit" class="btn btn-primary mb-3">Upload New File</button></a>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

<div class="row">
                             <!--create new medication-->
    <form method="post" style="max-width:600px;">
        <div class="col-sm-5">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">

                    <div class="card-body">
                        <h5 class="card-title">Create a New Medication</h5>
                    </div>


                                        <!--                        medication name field-->
                                        <div class="row mb-3">
                                            <label for="medicationName" class="col-sm-2 col-form-label">Medication Name</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="medicationName" id="medicationName" th:field="${medication.medicationName}" />
                                                <span th:errors="${medication.medicationName}" class="error"></span>
                                            </div>
                                        </div>
                                        <!--                        medication strength/concentration field-->
                                        <div class="row mb-3">
                                            <label for="medicationStrengthConcentration" class="col-sm-2 col-form-label">Medication Strength/Concentration</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="medicationStrengthConcentration" id="medicationStrengthConcentration" th:field="${medication.medicationStrengthConcentration}" />
                                                <span th:errors="${medication.medicationStrengthConcentration}" class="error"></span>
                                            </div>
                                        </div>
                                        <!--                        medication dose field-->
                                        <div class="row mb-3">
                                            <label for="medicationDose" class="col-sm-2 col-form-label">Medication Dose</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="medicationDose" id="medicationDose" th:field="${medication.medicationDose}" />
                                                <span th:errors="${medication.medicationDose}" class="error"></span>
                                            </div>
                                        </div>
                                        <!--                        medication frequency field-->
                                        <div class="row mb-3">
                                            <label for="medicationName" class="col-sm-2 col-form-label">Medication Frequency</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="medicationFrequency" id="medicationFrequency" th:field="${medication.medicationFrequency}" />
                                                <span th:errors="${medication.medicationFrequency}" class="error"></span>
                                            </div>
                                        </div>
                                        <!--                        provider field need to make this field include provider first and last name, and ph #-->
                                        <div class="row mb-3">
                                            <label for="providers" class="col-sm-2 col-form-label">Provider</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="providers" id="providers" th:field="${medication.providers}" />
                                                <span th:errors="${medication.providers}" class="error"></span>
                                            </div>
                                        </div>
                                        <!--                    submit button-->
                                        </th:block>
                                <div class="col-auto">
                                    <a th:href="@{'/medications/add'}"><button type="submit" class="btn btn-primary mb-3">Add Medication</button></a>
                                </div>
                            </div>
                            </div>
                        </div>
                </form>
</div>


<div class="row">
                        <!--create new provider-->
    <form method="post" style="max-width:600px;">
        <div class="col-sm-5">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">

                    <div class="card-body">
                        <h5 class="card-title">Create a New Provider</h5>
                    </div>


                    <!--                       provider name field-->
                    <div class="row mb-3">
                        <label for="providerName" class="col-sm-2 col-form-label">Provider Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="providerName" id="providerName" th:field="${provider.providerName}" />
                            <span th:errors="${provider.providerName}" class="error"></span>
                        </div>
                    </div>
                    <!--                        provider role (ie doctor, pharmacy, etc or specialty - gastroenterologist) field-->
                    <div class="row mb-3">
                        <label for="providerRole" class="col-sm-2 col-form-label">Provider Role</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="providerRole" id="providerRole" th:field="${provider.providerRole}" />
                            <span th:errors="${provider.providerRole}" class="error"></span>
                        </div>
                    </div>
                    <!--                        provider phone number field-->
                    <div class="row mb-3">
                        <label for="providerPhoneNumber" class="col-sm-2 col-form-label">Provider Phone Number</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="providerPhoneNumber" id="providerPhoneNumber" th:field="${provider.providerPhoneNumber}" />
                            <span th:errors="${provider.providerPhoneNumber}" class="error"></span>
                        </div>
                    </div>

                    <!--                    submit button-->
                    </th:block>
                    <div class="col-auto">
                        <a th:href="@{'/providers/add'}"><button type="submit" class="btn btn-primary mb-3">Add Provider</button></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
                            <!--create new patient-->
    <form method="post" style="max-width:600px;">
        <div class="col-sm-5">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">

                    <div class="card-body">
                        <h5 class="card-title">Create a New Patient</h5>
                    </div>


                    <!--                        first name field-->
                    <div class="row mb-3">
                        <label for="patientFirstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="First Name" id="patientFirstName" th:field="${patient.patientFirstName}" />
                            <span th:errors="${patient.patientFirstName}" class="error"></span>
                        </div>
                    </div>
                    <!--                        last name field-->
                    <div class="row mb-3">
                        <label for="patientLastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Last Name" id="patientLastName" th:field="${patient.patientLastName}" />
                            <span th:errors="${patient.patientLastName}" class="error"></span>
                        </div>
                    </div>
                    <!--                        date of birth field-->
                    <div class="row mb-3">
                        <label for="dOB" class="col-sm-2 col-form-label">Date Of Birth</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Date Of Birth" id="dOB" th:field="${patient.dOB}" />
                            <span th:errors="${patient.dOB}" class="error"></span>
                        </div>
                    </div>
                    <!-- how would I add fields so a patient is connected to specific contacts/meds/providers/users? Do I put a patient field on those forms?-->


                            </th:block>
                        <div class="col-auto">
                            <a th:href="@{'/contacts/add'}"><button type="submit" class="btn btn-primary mb-3">Add Patient</button></a>
                        </div>
                </div>

                </div>
            </div>
    </form>
</div>


        </div>

</body>
</html>